{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}

{% block app_content %}

<div class="tenor-gif-embed" data-postid="21974161" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%"><a href="https://tenor.com/view/why-on-earth-would-you-do-that-anyways-butters-south-park-thats-dumb-why-did-you-do-that-gif-21974161">Why On Earth Would You Do That Anyways Butters GIF</a>from <a href="https://tenor.com/search/why+on+earth+would+you+do+that+anyways-gifs">Why On Earth Would You Do That Anyways GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
